.tab-item {
  margin: 0;
}

.tab-item button  {
  cursor: pointer;
  padding: var(--underline-gap, .5rem) 0;
  background: transparent;
  border: none;
  position: relative;
  padding-block: 1rem;
}

.tab-item button::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: hsl(var(--clr-white));
  transform: scale(0);
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 0;
}

.tab-item button:hover::after, .tab-item button:focus::after {
  transform: scale(1);
  opacity: 0.5;
}

.tab-item button[aria-selected="true"]::after, .tab-item button.active::after {
  transform: scale(1);
  opacity: 1;
}

.tab-item button:hover,
.tab-item button:focus {
  border-color: hsl( var(--clr-white) / .5);
}

.tab-item button.active,
.tab-item [aria-selected="true"] {
  color: hsl( var(--clr-white) / 1);
}

.tab-item button.round-btn {
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.5em 1em;
  color: hsl( var(--clr-white));
  border: 1px solid hsl( var(--clr-white) / 0.5);
  transition: all 250ms linear;
  width: 50px;
  font-size: 1rem;
}

.tab-item button.round-btn:hover {
  border: 1px solid hsl( var(--clr-white));
}

.tab-item button.round-btn[aria-selected=true] {
  background: hsl( var(--clr-white));
  color: hsl( var(--clr-dark));
  border: 1px solid hsl( var(--clr-white));
}

.tab-item button.round-btn::after {
  content: none;
}

@media (min-width: 768px) {
  .tab-item button.round-btn {
    width: 60px;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .tab-item button.round-btn {
    width: 80px;
    font-size: 1.5rem;
  }
}

@supports (aspect-ratio: 1/1) {
  @media (max-width: 768px) {
    .tab-item button.round-btn {
      width: 50px;
      height: 50px;
    }
  }
}