.homepage {
  background-image: url("images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

@media screen and (min-width: 768px) {
  .homepage {
    background-position: center center;
    background-image: url("images/home/background-home-tablet.jpg") ;
  }
}

@media screen and (min-width: 1024px) {
  .homepage {
    background-image: url("images/home/background-home-desktop.jpg");
  }
}