.homepage {
  background-image: url("images/home/background-home-mobile.jpg");
}

@media screen and (min-width: 768px) {
  .homepage {
    background-position: center center;
    background-image: url("images/home/background-home-tablet.jpg") ;
  }
}

@media screen and (min-width: 1024px) {
  .homepage {
    background-image: url("images/home/background-home-desktop.jpg");
  }

  .grid-container--home > *:first-child {
    grid-column: 2;
  }
  
  .grid-container--home > *:last-child {
    grid-column: 3;
    place-items: center;
  }
  
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

