.large-button {
  padding: 0 2em;
  border-radius: 50%;
  text-decoration: none;
  display: inline-grid;
  aspect-ratio: 1;
  place-items: center;
  position: relative;
  font-size: 1.5rem;
}

.large-button::after {
  content: '';
  position: absolute;
  background: hsl(var(--clr-white) / 0.25);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  transform: scale(1.5);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  font-size: 2rem;
}