.main-nav {
  --gap: clamp(1.5rem, 10vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl( var(--clr-dark) / 0.95);
}

.mobile-nav-toggle {
  display: none;
}

@supports (backdrop-filter: blur(2rem)) {
  .main-nav {
    background: hsl( var(--clr-white) / 0.05);
    backdrop-filter: blur(2rem);
  }
}

@media (max-width: 767px) {
  .main-nav {
    --underline-gap: .5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .main-nav.active {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
    background-image: url("images/shared/icon-hamburger.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("images/shared/icon-close.svg");
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 767px) {
  .main-nav {
    padding-inline: clamp(3rem, 10vw, 6rem);
  }
}

@media (min-width: 1024px) {
  .main-nav {
    margin-block: 2rem;
  }
}