.nav-item {
  padding: var(--underline-gap, 1rem) 0;
  position: relative;
}

.nav-item span {
  margin-right: 1rem;
  font-weight: 700;
}

.nav-item::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: hsl(var(--clr-white));
  transform: scale(0);
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 0;
}

.nav-item:hover::after, .nav-item:focus::after, .nav-item.hovered::after, .nav-item [aria-selected=true]::after {
  transform: scale(1);
  opacity: 0.5;
}

.nav-item.active::after {
  opacity: 1;
  transform: scale(1);
}

.nav-item a {
  text-decoration: none;
}

.nav-item button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-item::after {
    content: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-item a > span {
    display: none;
  }
}